.btn {
  display: block;
  width: 204px;
  height: 48px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: $btn-color;
  font-size: 14px;
  line-height: 48px;
  letter-spacing: 1px;
  color: white;
  font-family: $font-raleway;
  font-weight: 400;
  border: none;
  outline: none;

  &--cruise {
    margin: 0 auto;
  }
}
