.catalog-item {
  background-color: white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

  &:not(:last-of-type) {
    margin-bottom: 20px;
  }

  &__img {
    position: relative;

    & img {
      display: block;
      width: 100%;
    }


    &::before {
      content: "";
      display: flex;
      position: absolute;
      width: 0;
      height: 0;
      right: 24px;
      top: -10px;
      border-width: 80px 45px 20px;
      border-style: solid;
      border-color: #33c7fd #33c7fd transparent;
    }

    &::after {
      content: "";
      right: 24px;
      top: -10px;
      position: absolute;
      display: flex;
      padding: 0 12px;
      box-sizing: border-box;
      justify-content: center;
      align-items: center;
      width: 90px;
      height: 100px;
      color: white;
      font-size: 14px;
      letter-spacing: 1px;
      line-height: 18px;
      font-family: $font-raleway;
      font-weight: 400;
      text-transform: uppercase;
    }

    &--hit {

      &::before {
      }

      &::after {
        content: "Хит продаж";
        justify-content: center;
        align-items: center;
        text-align: center;
      }
    }

    &--action {
      &::before {
        border-color: #f20442 #f20442 transparent;
      }

      &::after {
        content: "Акция";
      }

    }

    &--free-10 {
      &::before {
        border-color: #f20442 #f20442 transparent;
      }

      &::after {
        content: "Скидка 10%";
        text-align: center;
      }
    }

    &--nothing {
      &::before {
        display: none;
      }

      &::after {
        display: none;
      }
    }
  }

  &__descr {
    padding-top: 12px;
    padding-left: 22px;
    padding-right: 5px;
    padding-bottom: 10px;
  }

  &__title {
    font-size: 18px;
    letter-spacing: 1px;
    color: $blue-font-color;
    font-family: $font-roboto;
    font-weight: 400;

    &--anapa {
      padding-right: 96px;
    }

  }

  &__track {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1px;
    color: $font-color;
    font-family: $font-raleway;
    font-weight: bold;
  }

  &__price {
    font-family: $font-roboto;
    font-size: 30px;
    line-height: 48px;
    letter-spacing: 0;
    color: $font-color;
    font-weight: 400;

    & span {
      font-size: 18px;
      letter-spacing: 1px;
      text-decoration: line-through;
      line-height: 48px;
      color: #7a8f9f;
      font-family: $font-roboto;
      font-weight: 400;
    }
  }
}


@media(min-width: $width-400) {
  .catalog-item {

    &:not(:last-of-type) {
      margin-bottom: 30px;
    }


    &__descr {
      padding-right: 15px;
    }

    &__title {
      font-size: 22px;
    }

    &__track {
      font-size: 16px;
    }
  }
}

@media(min-width: $width-620){
  .catalog-item {
    width: 45.5vw;
    margin-bottom: 30px;
  }
}

@media(min-width: $width-750){
  .catalog-item {
    width: 345px;
  }
}
