.header-slider {

  margin-bottom: -30px;

  &__item {
    // max-width: 100vw;

    & img {
      height: 583px;
    }
  }
}

@media(min-width: $width-400) {
  .header-slider {

    &__item {
      position: relative;
      overflow: hidden;

      & img {
        // height: 608px;
        // width: 1307px;
        // margin-left: calc(100vw - 1100px);
      }
    }
  }
}

@media(min-width: 1080px) {
  .header-slider {

    &__item {

      & img {
        // height: 608px;
        // width: 1674px;
        // margin-left: 0;
      }
    }
  }
}
