.main-menu {
  display: none;
  position: absolute;
  padding:0;
  top: 25px;
  left: -10px;
  z-index: 20;
  border-radius: 10px;
  background-color: $font-color;


  &--visible {
    height: 0;
    padding: 0;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    display: block;

    &:first-of-type {
      & a {
        padding-top: 3px;
        border-radius: 10px 10px 0 0;
      }
    }

    &:last-of-type {
      & a {
        padding-bottom: 3px;
        border-radius: 0 0 10px 10px;
      }
    }

  }

  &__link {
    display: block;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 38px;
    color: white;
    font-family: $font-roboto;
    font-weight: 400;
    padding: 0 30px;



    &:hover {
      background-color: white;
      color: $font-color;
    }
  }

  &--open {
    display: block;
  }

}

@media(min-width: 360px){
  .main-menu {
    left: 0;
  }
}
