.page-content {

  &__wrapper {
    background-color: $gray-bg;
  }


  &__title {
    text-align: center;
    font-size: 20px;
    line-height: 48px;
    letter-spacing: 1px;
    color: $font-color;
    font-family: $font-roboto;
    font-weight: 400;
  }

  &__filter {
    text-align: center;
  }
}
