.page-footer {
  background: white;
}

@media(min-width: $width-400) {
  .page-footer {
  }
}


@media(min-width: $width-750) {
  .page-footer {

    &__container {
      max-width: 720px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
