.top-menu {
  position: absolute;
  top: 20px;
  left: 15px;
  width: 23px;
  height: 18px;
  font-size: 0;
  z-index: 3;

  & span {
    display: block;
    position: absolute;
    top: 8px;
    width: 23px;
    height: 2px;
    background-color: $font-color;
    transition: width 0.3s, transform 0.5s;

    &::before,
    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 2px;
      background-color: $font-color;
      z-index: 2;
      transition: transform 0.5s;
    }

    &::before {
      top: -7px;
    }

    &::after {
      bottom: -7px;
    }
  }

  &--open {

    & span {
      width: 0;

      &::before {
        width: 21px;
        transform-origin: left;
        transform: rotate(45deg);
      }

      &::after {
        width: 21px;
        transform-origin: left;
        transform: rotate(-45deg);
      }
    }
  }


}
